.advantages {
  padding: 110px 0 90px 0;

  background-color: $advantages_background;
  background-image: url("../img/advatages-back_desk@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advatages-back_desk@2x.jpg");
  }

  @media (max-width: $desktop_breakpoint) {
    padding: 89px 0 70px 0;

    background-image: url("../img/advatages-back_tab@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advatages-back_tab@2x.jpg");
    }
  }

  @media (max-width: $tablet_breakpoint) {
    padding: 58px 0 34px 0;

    background-image: url("../img/advatages-back_mob@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advatages-back_mob@2x.jpg");
    }
  }
}

.advantages h2 {
  margin: 0 0 49px 0;

  text-align: center;

  @include font(28px, 42px, 600, $font_dark_color);

  @media (max-width: $desktop_breakpoint) {
    @include font(26px, 39px, 600, $font_dark_color);
  }

  @media (max-width: $tablet_breakpoint) {
    margin: 0 0 29px 0;

    @include font(24px, 36px, 600, $font_dark_color);
  }
}

.advantages__list {
  //
}
