
.button {
  margin-top: auto;
  padding: 10px 10px;

  text-align: center;

  background-color: $background_light;
  border: none;
  cursor: pointer;

  &:hover {
    outline: $underline_height solid $outline_color;
  }


  &:focus {
    outline: $underline_height solid $outline_color;
  }


  &:active {
    opacity: 0.7;
  }
}
