body {
  background-color: $background_light;
}

a {
  &:hover {
    outline: 4px solid $outline_color;
  }


  &:focus {
    outline: 4px solid $outline_color;
  }


  &:active {
    opacity: 0.7;
  }
}

input {
  &:hover {
    outline: 4px solid $outline_color;
  }


  &:focus {
    outline: 4px solid $outline_color;
  }


  &:active {
    opacity: 0.7;
  }
}
