.contacts-text-wrapper {
  position: relative;

  display: flex;
  margin: 0 0 21px 0;
  padding: 0 0 0 30px;


  @media (max-width: $desktop_breakpoint) {
    margin: 0 0 21px 0;
  }

  // @media (max-width: $tablet_breakpoint) {
  //   margin: 0 0 21px 0;
  // }
}
