.description-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 114px 0;

  @media (max-width: $desktop_breakpoint) {
    align-items: flex-start;
    padding: 90px 0 64px 0;
  }

  @media (max-width: $tablet_breakpoint) {
    flex-direction: column;
    align-items: center;
    padding: 57px 0 60px 0;
  }
}

.description-wrapper img {
  width: 560px;
  height: 301px;

  @media (max-width: $desktop_breakpoint) {
    width: 324px;
    height: 264px;
    margin-top: 10px;
  }

  @media (max-width: $tablet_breakpoint) {
    width: 290px;
    height: 186px;
    margin-top: 0;
  }
}
