.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 0 0 8px;

  list-style: none;

  @media (max-width: $desktop_breakpoint) {
    padding: 0 0 0 0;
  }

  @media (max-width: $tablet_breakpoint) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 13px 0;
    padding: 0 0 0 0;
  }
}

.footer-nav__item {
  margin: 0 0 0 33px;
  padding: 10px 0 10px 0;


  @media (max-width: $desktop_breakpoint) {
    margin: 0 0 0 23px;
  }

  @media (max-width: $tablet_breakpoint) {
    margin: 0 0 13px 0;
    padding: 0;
  }
}

.footer-nav-list a {
  text-decoration: none;

  @include font(16px, 20px,500, $font_light_color);

  @media (max-width: $desktop_breakpoint) {
    @include font(12px, 15px,500, $font_light_color);
  }
}
