.site-header {
  position: relative;
}

.site-header__back img {
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 650px;

  background-color: $header_background;

  object-fit: cover;
  object-position: center center;


  @media (max-width: $desktop_breakpoint) {
    height: 638px;

    object-position: center top;
  }

  @media (max-width: $tablet_breakpoint) {
    height: 500px;

    object-position: center 75%;
  }
}

.site-header--js-active {
  &::after {
    @media (max-width: $tablet_breakpoint) {
      top: 0;
    }
  }
}


.site-header__navbar {
  //
}
