// SCSS compilation check
body {
  // background-color: lightskyblue;
}

@media (max-width: 1366px) {
  // q
}

@media (max-width: 767px) {
  // q
}


// background for retina display
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
// (min-resolution: $retina-dpi),
// (min-resolution: $retina-dppx)

// -------------------------- extrasmall
$extrasmall_width: 320px;
$extrasmall_padding: 15px;
// -------------------------- medium
$medium_breakpoint: 767px;
$medium_padding: 45px;
$medium_width: 768px;
// -------------------------- extralarge
$extralarge_breakpoint: 1365px;
$extralarge_width: 1366px;
$extralarge_padding: 103px;

// -------------------------- basic colors
// $basic_color: #ce5d4e;

// -------------------------- font colors
$font_dark: #141517;
// -------------------------- border colors
$border-color: #8b3006;

// -------------------------- background colors
// $background_light: #9b7b57;

// font($size, $line_height, $weight, $color)
// $weight 400 , 700
// @include font(20px, 1.2, 400, $font_dark);


// -------------------------- effect colors
// $accent_color: #ce5d4e;
// $outline_color: rgb(16, 33, 190);

// .button:hover,
// .button:focus,
// .button:active
